<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/travel_agency</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <mapping class="Model.Entity.ActionEntity"/>
        <mapping class="Model.Entity.CatalogEntity"/>
        <mapping class="Model.Entity.FoodTypeEntity"/>
        <mapping class="Model.Entity.HotelEntity"/>
        <mapping class="Model.Entity.HotelRoomTypeEntity"/>
        <mapping class="Model.Entity.MarshrutEntity"/>
        <mapping class="Model.Entity.NumPeopleEntity"/>
        <mapping class="Model.Entity.OrderEntity"/>
        <mapping class="Model.Entity.OrderTourEntity"/>
        <mapping class="Model.Entity.PhotoEntity"/>
        <mapping class="Model.Entity.RestTypeEntity"/>
        <mapping class="Model.Entity.ReviewEntity"/>
        <mapping class="Model.Entity.RoomTypeEntity"/>
        <mapping class="Model.Entity.ServiceTypeEntity"/>
        <mapping class="Model.Entity.SpecialTourEntity"/>
        <mapping class="Model.Entity.TourEntity"/>
        <mapping class="Model.Entity.TourMarshrutEntity"/>
        <mapping class="Model.Entity.TourOperatorEntity"/>
        <mapping class="Model.Entity.TourTourOperatorEntity"/>
        <mapping class="Model.Entity.UserEntity"/>
        <mapping class="Model.Entity.UserInfoEntity"/>
        <mapping class="Model.Entity.UserTypeEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>